<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom fonts for this template -->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <!--Button Icon-->
  <link href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet" type="text/css">

</head>
<style>
[hidden] {
   display: none;
}
</style>
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

       

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Öğrenci Deneyimleri</h1>
          <p class="mb-4">Mevcut kayıtları düzenleyebilir veya yenilerini ekleyebilirsiniz.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Öğrenci Deneyimleri</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive" >
                <input type="text" class = "text-center default-text" placeholder="  Search" [(ngModel)]="searchTerm" />
                <table class="table table-bordered" id="dataTable" >
                  <thead>
                    <tr>
                      <th>Öğrenci Kullanıcı Adı</th>
                      <th>Başlangıç Tarihi</th> 
                      <th>Bitiş Tarihi</th>
                      <th>Firma </th>         
                      <th>Firma Yorumu</th> 
                      <th>
                          <button  class="btn btn-success btn-sm" data-target = "#insertModal" data-toggle = "modal">
                              <i class="fa fa-plus"></i> 
                          </button> 
                      </th>                      
                    </tr>
                  </thead>
                  <tbody>   
                    <tr *ngFor='let data of data$  | filter:searchTerm | paginate: {itemsPerPage: 5,currentPage: p}'>
                        <td>
                            <div *ngFor='let i of suser$'>
                              <div *ngIf='i.id== data.user_id '>{{i.username}}</div>
                            </div>                          
                        </td>
                        <td>{{data.startDate}}</td>
                        <td>{{data.finishDate}}</td>
                        <td>
                          <div *ngFor='let i of suser$'>
                            <div *ngIf='i.id== data.related_user_id '>
                                <div *ngFor='let j of company$'>
                                    <div *ngIf='j.id== i.company_id '>{{j.name}}</div>
                                </div> 
                            </div>
                          </div>    
                        </td>   
                        <td>{{data.companyReviews}}</td>                  
                        <td> 
                                <a (click)="delete(data.id)"  class="btn btn-danger btn-custom btn-sm btn-circle">
                                  <i class="fas fa-trash text-white"></i>
                                </a>
                                <a [routerLink]="['/user-experience/update/', data.id]">                       
                                  <button type="button" class="btn btn-primary btn-custom btn-sm btn-circle" >
                                      <i class="fas fa-edit"></i>
                                  </button> 
                                </a>
                        </td>
                                                         
                    </tr>
                  </tbody>
                  
                </table>
                <pagination-controls pull-left (pageChange)="p = $event"> </pagination-controls>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Insert Popup--> 
  <div class = "modal fade" data-keyboard="false" data-backdrop="static" id = "insertModal" tabindex="-1" >
      <div class = "modal-dialog"> 
        <div class = "modal-content">
          <div class = "modal-header">      
            <h4 class = "modal-title"><b>Öğrenci Deneyim Oluşturma</b></h4>
          </div>
          <div class = "modal-body">
              <form (ngSubmit)="onSubmit()">                        
                  <div>
                      <form  (ngSubmit)="onSubmit()">
                          <label for="name">Öğrenci:  </label>                  
                          <select   class="custom-select" [formControl]="sampleform.controls['userExp']" (change)="selectChangeUser($event)">
                            <option [ngValue]="null" disabled>Kullanıcı Seçiniz</option>
                               <option *ngFor='let i of suserStd$'> {{i.username}}                             </option>
                          </select>
                      </form> 
                  </div>
                  <div>
                    <form  (ngSubmit)="onSubmit()">
                        <label for="name">Firma:  </label>
                        <select   class="custom-select" [formControl]="sampleform.controls['userExp']"  (change)="selectChangeCompany($event)">
                          <option [ngValue]="null" disabled>Firma Seçiniz</option>                           
                              <option *ngFor="let i of suserCmp$"  [ngValue]="suserCmp" >
                                  <div *ngFor='let j of company$'>
                                      <div *ngIf='j.id== i.company_id'>{{j.name}}</div>
               
                                  </div> 
                              </option>
                        </select>
                        <br>
                    </form> 
                  </div>            
                  <div class="form-group">
                    <label for="name">Başlangıç Tarihi :  </label>
                    <input type="text"class = "form-control form-control-user" id="startDate"  [(ngModel)]="userExp.startDate" name="startDate">
                  </div>
                  <div class="form-group">
                    <label for="name">Bitiş Tarihi :  </label>
                    <input type="text"class = "form-control form-control-user" id="finishDate"  [(ngModel)]="userExp.finishDate" name="finishDate">
                  </div>
                  <div class="form-group">
                    <label for="name">Firma Yorumu :  </label>
                    <input type="text"class = "form-control form-control-user" id="companyReviews"  [(ngModel)]="userExp.companyReviews" name="companyReviews">
                  </div>
                  <div class = "modal-footer" >
                      <button type="submit" class="btn btn-success">
                          <i class="fas fa-check"></i>
                      </button>
                      <button class="btn btn-danger" data-dismiss="modal">
                          <i class="fa fa-close"></i>
                      </button>
                  </div>               
                </form>
          </div>      
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../assets/js/demo/datatables-demo.js"></script>

  <script> 
      function checkempty(form) { 
          if (form.name.value == null ||  
              form.name.value == undefined || 
              form.name.value.length == 0) { 
              
              alert("Name cannot be empty\n"); 
              return false; 
          } else { 
              alert("Your response has been recorded\n"); 
              return true; 
          } 
      } 
  </script> 

</body>

</html>
