<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
   
  <!-- Custom fonts for this template -->,
  <!--<link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> -->
 
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="../../assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <!--Button Icon-->
  <link href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet" type="text/css">

  <style>
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}
.btn { margin-bottom:10px; }
  </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Okul Bilgileri</h1>
          <p class="mb-4">Mevcut kayıtları düzenleyebilir veya yenilerini ekleyebilirsiniz.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Okullar</h6>
            </div>
      <br>     
     
      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">      
          <div class="input-group">
            <select class="custom-select  bg-light" [formControl]="sampleform.controls['school']" (change)="selectFilter($event)">
                <option [ngValue]="null" disabled>-Filtrele-</option>
                <option [ngValue]="Sehir">Tumunu Getir</option>
                <option [ngValue]="Sehir">Sehir</option>
                <option [ngValue]="Ilce">Ilce</option>
                <option [ngValue]="Mahalle">Mahalle</option>
            </select> &nbsp;
            <input  #box  (keyup.enter)="update(box.value)"
            (blur)="getInput(box.value)" type="text" class="form-control bg-light border-0 small" placeholder="Ara..."
             aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                  <button (click)="getInput(box.value)" class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
            </div>
          </div>
      </form>
      <input [(ngModel)]="searchText" placeholder="Ara..." class="form-control bg-light border-0 small">
<p></p>

            <div class="card-body">
              <div class="table-responsive" >
                <table class="table table-bordered" id="dataTable" >
                  <thead>
                    <tr>
                      <th>Okul</th>
                      <th>Adres</th>
                      <th>Posta Kodu</th>
                      <th>Şehir</th>
                      <th>İlçe</th>
                      <th>Mahalle</th>
                      <th></th>                      
                    </tr>
                  </thead>
                  <tfoot>                 
                    <tr>             
                        <th>
                            <div>            
                                  <button  class="btn btn-success btn-sm" data-target = "#insertModal" data-toggle = "modal">
                                      <i class="fa fa-plus"></i> 
                                  </button>                   
                            </div>
                        </th>
                    </tr>
                  </tfoot>
                  <tbody>   
                    <tr *ngFor='let data of data$ | grdFilter: {name: searchText, address:searchText, zipCode:searchText}; let i=index;' >
                      <td>{{data.name}}</td>
                      <td>{{data.address}}</td>
                      <td>{{data.zipCode}}</td>
                      <td>
                        <div *ngFor='let i of city$'>
                           <div *ngIf='i.id== data.city_id'>{{i.name}}</div>
                         </div>                          
                      </td>
                      <td>
                        <div *ngFor='let i of district$'>
                           <div *ngIf='i.id== data.district_id'>{{i.name}}</div>
                         </div>                          
                      </td>
                      <td>
                        <div *ngFor='let i of neighborhood$'>
                           <div *ngIf='i.id== data.neighborhood_id'>{{i.name}}</div>
                         </div>                          
                      </td>
                      
                      <td> 
                          <a (click)="delete(data.id)"  class="btn btn-danger btn-custom btn-sm btn-circle">
                              <i class="fas fa-trash text-white"></i>
                          </a>                     
                          <a [routerLink]="['/school/update/', data.id]">                       
                              <button type="button" class="btn btn-primary btn-custom btn-sm btn-circle" >
                                  <i class="fas fa-edit"></i>
                              </button> 
                          </a>
                      </td>                                                 
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

 

    <!-- Insert Popup--> 
  <div class = "modal fade" data-keyboard="false" data-backdrop="static" id = "insertModal" tabindex="-1" >
      <div class = "modal-dialog"> 
        <div class = "modal-content">
          <div class = "modal-header">
            
            <h4 class = "modal-title"><b>Okul Ekle</b></h4>
          </div>
          <div class = "modal-body">
              <form (ngSubmit)="onSubmit()">            
                  <div >
                      <form  (ngSubmit)="onSubmit()">
                          <label for="name">Okul:  </label>
                        <input type="text"  placeholder="Okul Adı Giriniz"  class="form-control" id="name"  [(ngModel)]="school.name" name="name">                                                         
                        <br>
                      </form>
                    </div>
                
                    <div >
                      <form  (ngSubmit)="onSubmit()">
                          <label for="name">Okul Adresi:  </label>
                        <input type="text"   placeholder="Adres Bilgilerini Giriniz"  class="form-control" id="address"  [(ngModel)]="school.address" name="address">                                                         
                        <br>
                      </form>
                    </div>
                   
                    <div >
                      <form  (ngSubmit)="onSubmit()">
                          <label for="name">Posta Kodu:  </label>
                        <input type="text" placeholder="Posta Kodu Giriniz"  class="form-control" id="zipCode"  [(ngModel)]="school.zipCode" name="zipCode">                                                         
                        <br>
                      </form>
                    </div>
                
                    <div>
                      <form  (ngSubmit)="onSubmit()">                 
                        <select   class="custom-select" [formControl]="sampleform.controls['school']" (change)="selectChangeCity($event)">
                          <option [ngValue]="null" disabled>Şehir Seçiniz</option>
                          <option *ngFor="let city of city$"  [ngValue]="city" >{{city.name}}</option>
                        </select>
                        <br>
                      </form> 
                    </div> 
                    <br>
                  <div>
                    <form  (ngSubmit)="onSubmit()">                 
                      <select   class="custom-select" [formControl]="sampleform.controls['school']" (change)="selectChangeDistrict($event)">
                        <option [ngValue]="null" disabled>İlçe Seçiniz</option>
           <!--             <option *ngFor="let district of district$"  [ngValue]="district" >{{district.name}}</option>  
                                    <option *ngFor='let j of district$' >
                                        <div *ngIf='j.city_id== selectedCityId' >{{j.name}}</div>                                 
                                    </option>        -->      
                                    <option *ngFor="let i of districtFiltered$"  [ngValue]="sdistrict" >{{i.name}}</option>                                                
                      </select>
                      <br>
                    </form> 
                  </div> 
                  <br>
                  <div>
                    <form  (ngSubmit)="onSubmit()">                 
                      <select   class="custom-select" [formControl]="sampleform.controls['school']" (change)="selectChangeNeighb($event)">
                        <option [ngValue]="null" disabled>Mahalle Seçiniz</option>
                        <option *ngFor="let neighborhood of neighbFiltered$"  [ngValue]="neighborhood" >{{neighborhood.name}}</option>
                      </select>
                      <br>
                    </form> 
                  </div>  
                  <div class = "modal-footer" >
                      <button type="submit" class="btn btn-success">
                          <i class="fas fa-check"></i>
                      </button>
                      <button class="btn btn-danger" data-dismiss="modal">
                          <i class="fa fa-close"></i>
                      </button>
                  </div>
                  
                </form>
          </div>
          
          
        </div>
      </div>
    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../src/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="../../assets/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="../../assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="../../assets/js/demo/datatables-demo.js"></script>

</body>

</html>
