<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-drawer>  
    <mat-drawer-content>juu</mat-drawer-content>
</mat-drawer-container>