<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Forgot Password</title>

  <!-- Custom fonts for this template-->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <!--Button Icon-->
  <link href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body >

  <div class="container">
    <!-- Outer Row -->
        <div class="card o-hidden border-0 shadow-lg my-5" > 
          <div class="center" >
            <!-- Nested Row within Card Body -->
              <div  class="center">
                <div class="p-5">
                  <div class="text-center" >
                    <h1  class="panel panel-primary">Kullanıcı(Firma) Düzenleme</h1>
                    <p class="center"></p>
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                  <form class="user" >
                        <div class="form-group" >  
                          <select class="custom-select  " [formControl]="sampleform.controls['suser']" (change)="selectChangeCompany($event)">
                              <option [ngValue]="null" disabled>{{showSelectedCompany}}</option>
                              <option *ngFor="let company of company$"  [ngValue]="company" >{{company.name}}</option>
                          </select>
                        </div> 
                        <div class="form-group" >  
                          <input type="text" class="form-control " [(ngModel)]="suser.username" name="username">
                        </div> 
                        <div class="form-group" >  
                          <input type="text" class="form-control " [(ngModel)]="suser.mail" name="mail">
                        </div>
                        <div class="form-group" >  
                          <input type="text" class="form-control " [(ngModel)]="suser.phone" name="phone">
                        </div> 
                        <div class="form-group" >  
                          <input type="text" class="form-control " [(ngModel)]="suser.address" name="address">
                        </div>
                        <div class="form-group" >  
                          <select class="custom-select  " [formControl]="sampleform.controls['suser']" (change)="selectChangeCity($event)">
                              <option [ngValue]="null" disabled>{{showSelectedCity}}</option>
                              <option *ngFor="let city of city$"  [ngValue]="city" >{{city.name}}</option>
                          </select>
                        </div>
                        <div class="form-group" >  
                          <select class="custom-select  " [formControl]="sampleform.controls['suser']" (change)="selectChangeDistrict($event)">
                              <option [ngValue]="null" disabled>{{showSelectedDiscrit}}</option>
                              <option *ngFor="let district of districtFiltered$"  [ngValue]="district" >{{district.name}}</option>
                          </select>
                        </div> 
                        <div class="form-group" >  
                          <select class="custom-select  " [formControl]="sampleform.controls['suser']" (change)="selectChangeNeighb($event)">
                              <option [ngValue]="null" disabled>{{showSelectedNeighb}}</option>
                              <option *ngFor="let neighborhood of neighbFiltered$"  [ngValue]="neighborhood" >{{neighborhood.name}}</option>
                          </select>
                        </div> 
                        
                        <a href="user-company" (click)="updateSuser()"  class="btn btn-primary ">
                            <i class="fas fa-check"></i> 
                            KAYDET
                        </a>
                  </form>
                    </div></div>
                  <hr> 
                </div>               
                </div>
              </div>         
          </div>
        </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="../../assets/js/sb-admin-2.min.js"></script>

</body>

</html>
